<%= provide :title, "ユーザー編集ページ" %>
<%= devise_error_messages %>



<div class="container is-mobile user-form">
  <h2 class="form_title has-text-centered">ユーザー編集ページ</h2>
  <%= form_with model: @user, url: user_registration_path, id: 'edit_user', class: 'edit_user', local: true do |f| %>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter has-text-centered">
      <%= f.label :image, class: "image_label" do %>
      <% if @user.image.present? %>
      <%= image_tag @user.image.url, id: :img_prev %>
      <% else %>
      <%= image_tag "default.png", id: :img_prev %>
      <% end %>
      <div class="has-text-centered">
        <%= f.file_field :image, id: :user_img %>
      </div>
      <% end %>
      <!--アカウント編集時に画像を入力できるようにフォームを追加-->
    </div>
  </div>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <!--アカウント編集時に名前を入力できるようにフォームを追加-->
      <%= f.label :name, "ユーザー名(10文字以内)" %><br />
      <div class="control has-icons-left has-icons-right">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <%= f.label :email, "メールアドレス" %><br />
      <div class="control has-icons-left has-icons-right">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>
  </div>
  <!--アカウント編集時にプロフィールを入力できるようにフォームを追加-->
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <%= f.label :profile, "自己紹介(200文字以内)" %><br />
      <div class="control">
        <%= f.text_area :profile, autofocus: true, autocomplete: "profile", class: "input textarea is-primary", placeholder: "今年はスカイダイビングをします！" %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <%= f.submit "更新", class: "button is-link is-fullwidth" %>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <%= link_to "キャンセル", user_path(current_user), class: "button is-light is-fullwidth" %>
    </div>
  </div>
  <% end %>

  <hr class="devise-link">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <%= link_to "トップページ", root_path, class: 'button is-primary is-fullwidth' %>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <% if current_user.admin? && !(@user.admin?) %>
      <%= link_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class: 'button is-danger is-fullwidth' %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#user_img").change(function() {
      readURL(this);
    });
  });
</script>