<% provide :title, "マイページ" %>


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-mobile is-offset-one-third">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <% if @user.image? %>
              <%= image_tag @user.image.url%>
              <% else %>
              <%= image_tag "default.png" %>
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <strong><%= @user.name %></strong>
              <br>
              <% if current_user.id == @user.id && !current_user.admin? %>
              <%= link_to  "プロフィール編集", edit_user_registration_path, class: "button is-dark" %>
              <% elsif current_user.admin? %>
              <%= link_to  "ユーザー一覧ページ", users_path, class: "button is-dark" %>
              <% else %>
              <%= render "follow_form" %>
              <% end %>
              <div class="user-profile" style="max-width: 400px; max-height: 140px; overflow: hidden;">
                <%= @user.profile %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="tabs is-centered">
  <ul class="tab">
    <li class="is-active"><a href="#tab1">投稿</a></li>
    <li><a href="#tab2">フォロー<span id="following_count"><%= @user.following.count %></span>人</a></li>
    <li><a href="#tab3">フォロワー<span id="follower_count"><%= @user.followers.count %></span>人</a></li>
    <li><a href="#tab4">いいね</a></li>
  </ul>
</div>

<div class="tabContents is-active" id="tab1">
  <% if @user.posts.any? %>
  <%= render 'posts/post_index', posts: @my_posts %>
  <% else %>
  <div class="no-contents  justify-content has-text-centered">
    誰もフォローしていません
  </div>
  <% end %>
</div>

<div class="tabContents" id="tab2">
  <% if @user.following.any? %>
  <%= render 'show_follows', objects: @followings %>
  <% else %>
  <div class="no-contents  justify-content has-text-centered">
    誰もフォローしていません
  </div>
  <% end %>
</div>

<div class="tabContents" id="tab3">
  <% if @user.followers.any? %>
  <%= render 'show_follows', objects: @followers %>
  <% else %>
  <div class="no-contents  justify-content has-text-centered">
    誰もフォローしていません
  </div>
  <% end %>
</div>
<div class="tabContents" id="tab4">
  <% if @user.liked_posts.any? %>
  <%= render 'posts/post_index', posts: @liked_posts %>
  <% else %>
  <div class="no-contents  justify-content has-text-centered">
    いいねがありません。
  </div>
  <% end %>
</div>



<!--タブの切り替え-->
<script>
  $(function() {
    $(".tab a").click(function() {
      $(this).parent().addClass("is-active").siblings(".is-active").removeClass("is-active");
      var tabContents = $(this).attr("href");
      $(tabContents).addClass("is-active").siblings(".is-active").removeClass("is-active");
      return false;
    });
  });
</script>