<% provide :title, "マイページ" %>


<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="card-content">
        <div class="column is-half">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <% if @user.image? %>
                <%= image_tag @user.image.url%>
                <% else %>
                <%= image_tag "default.png" %>
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="column">
                <div class="user-item is-family-sans-serif">
                  <%= @user.name %>
                  <%= link_to  "プロフィール編集", edit_user_registration_path, class: "button is-dark" %>
                  <div class="user-profile" style="max-width: 400px; max-height: 140px; overflow: hidden;">
                    <%= @user.profile %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="follower">
        <h5 style="color: black;">フォロワー<span id="follower_count"><%= @user.followers.count %></span>人　</h5>
      </div>
      <div class="follow">
        <h5 style="color: black;">フォロー<span id="following_count"><%= @user.following.count %></span>人　</h5>
      </div>
      <div>
        <%= render "follow_form" %>
      </div>
    </div>
  </div>
</section>