<% provide :title, "マイページ" %>


<section class="section">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-offset-one-third">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <% if @user.image? %>
              <%= image_tag @user.image.url%>
              <% else %>
              <%= image_tag "default.png" %>
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <strong><%= @user.name %></strong>
              <br>
              <% if current_user.id == @user.id %>
              <%= link_to  "プロフィール編集", edit_user_registration_path, class: "button is-dark" %>
              <% else %>
              <%= render "follow_form" %>
              <% end %>
              <div class="user-profile" style="max-width: 400px; max-height: 140px; overflow: hidden;">
                <%= @user.profile %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="level">
  <div class="level-left"></div>
  <div class="level-right">
    <div class="level-item tabs">
      <ul>
        <li class="is-active"><a>投稿</a></li>
        <li><a>フォロー<span id="following_count"><%= @user.following.count %></span>人</a></li>
        <li><a>フォロワー<span id="follower_count"><%= @user.followers.count %></span>人</a></li>
        <li><a>いいね</a></li>
      </ul>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
    </div>
  </div>
</section>