<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title))%></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bulmaã®CDN-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
  <%= render 'header' %>
  <%= render "users/shared/notifications" %>
  <main><%= yield %></main>
  <%= render 'footer' %>
</body>

</html>